body{
    background: #494949;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 10vh;
}

.q {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 20px;
    background: indianred;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    height: 7vh;
}
input{
    width: 20vw;
}
.result{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}